:root {
  --xcheat-primary: #3270ae;
  --xcheat-label-color: powderblue;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

body {
  --xcheat-sidebar-width: 40px;
}

body.sidebar-active {
  --xcheat-sidebar-width: 250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  padding-top: 2rem;
  width: var(--xcheat-sidebar-width);
  background-color: var(--xcheat-primary);
  top: 0;
  bottom: 0;
  color: white;
  position: fixed;
  transition: width 0.3s;
}

.sidebar.active {
  overflow: auto;
}

.sidebar.active {
  --xcheat-sidebar-width: 250px;
  transition: width 0.3s;
}

.sidebar-inner {
  opacity: 0;
  visibility: hidden;
}

.sidebar #sidebar-trigger-bars {
  width: 30px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.sidebar.active .sidebar-inner,
body.sidebar-active .sidebar-inner {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: 0.1s opacity 0.3s, .0s visibility .3s;
}

body.sidebar-active #sidebar-trigger-bars {
  display: none;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.sidebar a.active {
  color: var(--xcheat-label-color);
  font-weight: bold;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar h1 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--xcheat-text-color);
}

.sidebar h2 {
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: monospace;
  text-align: center;
}

.sidebar #version {
  display: block;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1.3px;
  font-weight: bold;
  font-family: monospace;
}

.autohide-input-wrapper {
  margin-top: 1rem;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.autohide-input-wrapper input {
  margin-right: 0.5rem;
}

.sidebar h5 {
  font-size: 20px;
  line-height: 36px;
  color: var(--xcheat-label-color);
}

.sidebar nav {
  margin-top: 2rem;
  text-indent: 1rem;
}

.sidebar ul:first-of-type {
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  text-indent: 2rem;
}

main {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  padding: 2rem 2rem 2rem calc(var(--xcheat-sidebar-width) + 2rem);
}

@media (max-width: 768px) {
  main {
    padding: 1rem 1rem 1rem calc(var(--xcheat-sidebar-width) + 1rem);
  }
}

.feedback {
  margin-top: .25rem;
  font-size: 10px;
  display: block;
  text-align: center;
}

main h2 a,
main h3 a {
  pointer-events: none;
  color: black !important;
  text-decoration: none;
}
